{template "content","header"}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="qc:admins" content="2450422667764276375" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="keywords" content="投资网,投资,投资理财,年享财富,年享,金融超市,网络理财,个人理财,投资理财,P2P理财,互联网金融,投资理财,债权转让,理财计划,基金,基金理财,安全理财" />
    <meta name="description" content="投资网，中国首家互联网金融超市，为用户提供丰富、安全、高收益的投资理财产品和服务。100起投周期短，五重 保障措施为资金安全保驾护航！">
    <title>固定资产 - 我要投资 - 投资网，您的理财超市</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="./Static/css/core.min.css" rel="stylesheet" type="text/css" />
    
    <!--[if lt IE 9]>
    <link href="/Static/css/ie-hack/ie8.min.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?2b83d2aeb8eae31b9e05f25da8f98b48";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();

        //(function () {
        //    var bp = document.createElement('script');
        //    bp.src = '//push.zhanzhang.baidu.com/push.js';
        //    var s = document.getElementsByTagName("script")[0];
        //    s.parentNode.insertBefore(bp, s);
        //})();

    </script>
{template "content","footer"}


</head>
<body>

    
    <div style="display: none;">
        <script src="//s4.cnzz.com/z_stat.php?id=1257696505&web_id=1257696505" language="JavaScript"></script>
    </div>
    <!--[if lt IE 8]>
        <div class="fixed-top" style="padding: 40px; background: #F2DEDE; color: #a94442; text-align: center; width: 100%; z-index: 10000 !important; height: 120px;">
            <p>你的浏览器不支持投资网的一些新特性，请升级你的浏览器至<a href="http://se.360.cn/" style="color: #1F2E41">360浏览器</a>或<a href="http://browsehappy.com/" style="color: #1F2E41">Chrome</a>。</p>
            <p>2016年了，IE7及以下都老了...</p>
        </div>
    <![endif]-->
    <div class="new-page-head">
        <div class="container">
            <a href="/">
                <div class="tzw-logo">
                    <img src="//tzwpublic.oss-cn-hangzhou.aliyuncs.com/images%2Flogo-white.png" />

                    <span style="color: #fff;">稀缺资产投资平台！</span>
                </div>
            </a>
            <div class="nav">
                <!--导航条-->
                <ul class="nav-main">
                    <a href="/"><li class="" title="投资网">首页</li></a>
                        <a href="/asset/"><li liid="1" class="selected">我要投资</li></a>
                    
                    <a href="/aboutus"><li class="">关于我们</li></a>
                        <a href="/user/login/"><li class="">登录</li></a>
                </ul>
                <!--隐藏盒子-->
                <div id="box-1" class="hidden-box hidden-loc-index" style="display: none;">
                    <ul>
                            <a href="/asset/"><li>收益权产品</li></a>
                            <a href="/project/"><li>债权产品</li></a>
                            <a href="/alphahall/"><li>阿尔法大厅</li></a>

                    </ul>
                </div>
                <div id="box-2" class="hidden-box hidden-loc-usercenter" style="display: none;">
                    <ul>
                       

                            <a href="/usercenter/"><li>账户总览</li></a>
                            <a href="/usercenter/assetinvestment/"><li>我的投资</li></a>
                            <a href="/security/"><li>账户管理</li></a>
                        <a href="/user/logoff/"><li>安全退出</li></a>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    

<div class="product-main-content" style="padding-top: 75px;">
    <div class="container " style="border: solid 1px #c8c8c8; padding: 0;">
        <div class="row">
            <div class="col-12 product-mar-tob">
                <div class="product-category-tab">
                    <ul>

                        <li style="width: 25%" class="selected">收益权产品</li>
    <li style="width: 25%" onclick="javascript:window.location.href = '/project/'; "><a href="/project/ ">债权产品</a></li>
                        <li style="width:25%" onclick="javascript:window.location.href = '/alphahall/'; "><a href="/alphahall/ ">阿尔法大厅</a></li>
                    </ul>
                </div>
                    <div class="asset-list">
                        <div class="asset-title-border"></div>
                        <div class="project-new-show">
                                    <div class="project-item  ">
                                        <div class="project-left-info">
                                            <div class="item-state"></div>
                                            <a href="/asset/details/4/"><img src="//tzwpublic.oss-cn-hangzhou.aliyuncs.com/AssetDocuments/4/北岸照片.jpg" /></a>
                                        </div>

                                        <div class="project-right-info">
                                            <h2>北岸长风1116</h2>
                                            
                                            <div class="estimate">低于目前市场价 72.6 万买进</div>
                                            <div class="pro-info">已购面积：67.59 ㎡</div>
                                            <div class="pro-info">总面积：110.07 ㎡</div>
                                            <div class="clear"></div>

                                            <div class="jindu">
                                                <div class="finish" style="width: 61.41%;"></div>
                                            </div>

                                            <div class="jindu-txt">认购进度：61.41%</div>

                                            <a href="/asset/details/4/"><div class="asset-item-btn">我要购买</div></a>
                                        </div>

                                        <div class="clear"></div>
                                    </div>
                                    <div class="project-item  project-item-d">
                                        <div class="project-left-info">
                                            <div class="item-state"></div>
                                            <a href="/asset/details/3/"><img src="//tzwpublic.oss-cn-hangzhou.aliyuncs.com/AssetDocuments/3/封面.jpg" /></a>
                                        </div>

                                        <div class="project-right-info">
                                            <h2>【定向】菩提树下</h2>
                                            <div class="crowdsummary" > 第一个重点打造佛教慈善事业的平台；第一个全方位为寺庙需求提供服务的平台；第一个打造佛教互动视频资源集中地的平台。</div>
                                            <div class="pro-info" style="margin: 20px 0 !important">已筹金额：10.00 万元</div>
                                            <div class="pro-info" style="margin: 20px 0 !important ">目标金额：10.00 万元</div>
                                            <div class="clear"></div>

                                            <div class="jindu">
                                                <div class="finish" style="width: 100.00%;"></div>
                                            </div>

                                            <div class="jindu-txt">众筹进度：100.00%</div>

                                            <a href="/asset/details/3/"><div class="asset-item-btn" style="margin-top: 10px;">已满标</div></a>
                                        </div>

                                        <div class="clear"></div>
                                    </div>
                                    <div class="project-item  project-item-d">
                                        <div class="project-left-info">
                                            <div class="item-state"></div>
                                            <a href="/asset/details/2/"><img src="//tzwpublic.oss-cn-hangzhou.aliyuncs.com/AssetDocuments/2/MadScience.jpg" /></a>
                                        </div>

                                        <div class="project-right-info">
                                            <h2>MadScience</h2>
                                            <div class="crowdsummary" >Mad Science是全球儿童科学教育的领导者，其品牌于1985 年在加拿大成立，至今已有28年历史。目前遍及美国、英国、加拿大、瑞士、法国、亚洲等全球25个先进的国家和地区，在全球100多个国家和地区设立分支机构，每年有超过650万的儿童参加，是儿童最快乐的科学学习天地。</div>
                                            <div class="pro-info" style="margin: 20px 0 !important">已筹金额：250.00 万元</div>
                                            <div class="pro-info" style="margin: 20px 0 !important ">目标金额：250.00 万元</div>
                                            <div class="clear"></div>

                                            <div class="jindu">
                                                <div class="finish" style="width: 100.00%;"></div>
                                            </div>

                                            <div class="jindu-txt">众筹进度：100.00%</div>

                                            <a href="/asset/details/2/"><div class="asset-item-btn" style="margin-top: 10px;">已满标</div></a>
                                        </div>

                                        <div class="clear"></div>
                                    </div>
                                    <div class="project-item  project-item-d">
                                        <div class="project-left-info">
                                            <div class="item-state"></div>
                                            <a href="/asset/details/1/"><img src="//tzwpublic.oss-cn-hangzhou.aliyuncs.com/AssetDocuments/1/1.jpg" /></a>
                                        </div>

                                        <div class="project-right-info">
                                            <h2>绿地智尊A座325</h2>
                                            
                                            <div class="estimate">低于目前市场价 19.6 万买进</div>
                                            <div class="pro-info">已购面积：61.47 ㎡</div>
                                            <div class="pro-info">总面积：61.47 ㎡</div>
                                            <div class="clear"></div>

                                            <div class="jindu">
                                                <div class="finish" style="width: 100.00%;"></div>
                                            </div>

                                            <div class="jindu-txt">认购进度：100.00%</div>

                                            <a href="/asset/details/1/"><div class="asset-item-btn">已满标</div></a>
                                        </div>

                                        <div class="clear"></div>
                                    </div>
                        </div>
                     

                        <div style="width: 100%; text-align: center; margin-top: 20px;">
    <ul class="pagination">
        <li class="first disabled"><a href="javascript:;" title="首页"><i class="fa fa-angle-double-left"></i></a></li>
        <li class="prev disabled"><a href="javascript:;" title="上一页"><i class="fa fa-angle-left"></i></a></li>

                    <li class="active"><a href="javascript:;">1</a></li>

        <li class="next disabled"><a href="javascript:;" title="下一页"><i class="fa fa-angle-right"></i></a></li>
        <li class="last disabled"><a href="javascript:;" title="尾页"><i class="fa fa-angle-double-right"></i></a></li>
    </ul>


                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
    <div class="footer " style="margin: auto; min-width: 1200px; background: #fff !important">

        <div class="container">

        </div>
        <div class="foot-friend">

            <div style="background-color: #8e8e8e;">
                <div class="container">
                    <div class="footer-last-raw-b" style="margin-left: 300px;">
                        <a href="/rules" rel="nofollow">项目网规则</a>
                    </div>
                    <div class="footer-last-raw-b">
                        <a href="/privatepolicy" rel="nofollow">隐私条款</a>
                    </div>
                    <div class="footer-last-raw-b">
                        <a href="/registration" rel="nofollow">注册协议</a>
                    </div>
                    <div class="footer-last-raw-b">
                        <a href="/risk" style="border-right: none;" rel="nofollow">风险提示</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>


            <div class="foot-friendly-link">
                <div class="container">
                    <div style="float: left; margin: 50px 0;">
                        <img src="//tzwpublic.oss-cn-hangzhou.aliyuncs.com/images%2Fgzh.jpg" width="150" height="150" style="float: left;" />
                        <div style="float: left; color: #fff; font-size: 14px; margin-left: 20px;">
                            <div style="font-size: 16px; margin-top: 30px;">联系方式</div>
                            <div style="font-size: 30px; font-weight: bold; color: #eeb430;">400-832-2211</div>
                            <div>服务时间：工作日8:30-17:00</div>
                            <div>kefu@tzw.com</div>
                            <div><a href="http://mobile.tzw.com/home/index" style="color: #fff;">浏览：手机版</a></div>
                        </div>
                    </div>
                    <div style="font-size: 14px; color: #d8d8d8; padding-left: 110px; padding-top: 130px; float: left;">
                        &copy;&nbsp;2014-2016&nbsp;&nbsp;投资网（上海）管理股份有限公司&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn/" target="_blank" style="color: #F8F1DF; margin-right: 80px;" rel="nofollow">沪ICP备14053437号-1</a>
                        
                        
                        <br/>
                        <a href="/home/wangan/" style="color: #d8d8d8"  target="_blank" ><img src="//tzwpublic.oss-cn-hangzhou.aliyuncs.com/images%2Fwa.png" />沪公网安备 31012002002154号</a>
                    </div>
                </div>
            </div>

            <div class="foot-friendly-link" style="border-bottom: solid 1px #fff;">
                <div class="container">
                    <div class="row">
                        <div class="col-12" style="margin-left: -10px; margin-right: -10px;">
                        </div>
                    </div>

                </div>
            </div>
            <br />
        </div>
    </div>

    <div class="modal fade" id="alertDialog" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">温馨提示</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-orange" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmDialog" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">确认提示</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-orange">确定</button>
                </div>
            </div>
        </div>
    </div>
    
    <script data-main="/Static/js/app.min.js" src="/Static/js/require.js"></script>
    <!--webserver1-->
</body>
</html>
