<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>房产类——投资网</title>
<meta name="keywords" content="投资网">
<meta name="description" content="投资网">
<link rel="stylesheet" href="./statics/css/LlistShow.css">
<link rel="stylesheet" href="./statics/css/core.min.css">
<script src="./statics/js/jquery.min.js"></script>
<!--[if lt IE 9]>
<script src="./statics/js/html5.js"></script>
<link rel="stylesheet" href="./statics/css/Lie.css">
<![endif]-->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="statics/ico/apple-touch-icon-144-precomposed.png">
<link rel="shortcut icon" href="statics/ico/favicon.png">
<style>

.uk-navbar-nav>li.uk-parent.uk-open>a{background-color:#f89e35}
.uk-navbar-nav{float:right;margin-right:20px;}
.menu h2{background-color:#f89e35}

</style>


{template "content","header"}
<div class="main-content" style="padding-top:75px;">
    <div class="container">
        <div class="row" style="border: solid 1px #c8c8c8; padding: 0;">

            <div class="col-12 product-mar-tob" style="padding: 0;">
                
             
                <div class="product-list product-list-disshow">
                    <table id="container" class="table table-product-list">
                        <colgroup>
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col width="16px" />
                        </colgroup>
                        <thead>
                            <tr class="product-tr-border">
        
                                <td class="product-spacing-td"></td>
                                <td class="product-spacing-td"></td>
                                <td class="product-spacing-td"></td>
                                <td class="product-spacing-td"></td>
                                <td class="product-spacing-td"></td>
                                <td class="product-spacing-td"></td>
                             
                            </tr>
                            <tr>
                            
                                <td class="product-thead-td">项目名称</td>
                                <td class="product-thead-td">转让平米</td>
                                <td class="product-thead-td">转让单价</td>
                                <td class="product-thead-td">转让价格</td>
                                <td class="product-thead-td">剩余时间</td>
                                <td class="product-thead-td" width="100px"></td>
                        
                            </tr>
                            <tr>
                                <td class="product-spacing-td" style="border-top: none;"></td>
                            </tr>
                        </thead>
                        <tbody>

                                <tr>

                                    <td class="product-td-dashed"><div class="product-a-color">绿地智尊A座325</div></td>

                                    <td class="product-td-dashed">0.17 ㎡</td>
                                    <td class="product-td-dashed">9,750.00 元/㎡</td>
                                    <td class="product-td-dashed"><span style="color: #dc4e1c;">1,657.50 元</span> </td>
                                        <td class="product-td-dashed">2 天</td>

                                    <td class="product-td-dashed">
                                                <div class="buy-button">
                                                    <a class="buy" href="/alphahall/details/122/" data-productid="1">立即购买</a>
                                                </div>

                                    </td>
                                </tr>
                                <tr>

                                    <td class="product-td-dashed"><div class="product-a-color">绿地智尊A座325</div></td>

                                    <td class="product-td-dashed">0.79 ㎡</td>
                                    <td class="product-td-dashed">9,990.00 元/㎡</td>
                                    <td class="product-td-dashed"><span style="color: #dc4e1c;">7,892.10 元</span> </td>
                                        <td class="product-td-dashed">7 天</td>

                                    <td class="product-td-dashed">
                                                <div class="buy-button">
                                                    <a class="buy" href="/alphahall/details/125/" data-productid="1">立即购买</a>
                                                </div>

                                    </td>
                                </tr>
                                <tr>

                                    <td class="product-td-dashed"><div class="product-a-color">绿地智尊A座325</div></td>

                                    <td class="product-td-dashed">1.50 ㎡</td>
                                    <td class="product-td-dashed">10,000.00 元/㎡</td>
                                    <td class="product-td-dashed"><span style="color: #dc4e1c;">15,000.00 元</span> </td>
                                        <td class="product-td-dashed">7 天</td>

                                    <td class="product-td-dashed">
                                                <div class="buy-button">
                                                    <a class="buy" href="/alphahall/details/126/" data-productid="1">立即购买</a>
                                                </div>

                                    </td>
                                </tr>
                                <tr>

                                    <td class="product-td-dashed"><div class="product-a-color">绿地智尊A座325</div></td>

                                    <td class="product-td-dashed">1.11 ㎡</td>
                                    <td class="product-td-dashed">10,000.00 元/㎡</td>
                                    <td class="product-td-dashed"><span style="color: #dc4e1c;">11,100.00 元</span> </td>
                                        <td class="product-td-dashed">3 天</td>

                                    <td class="product-td-dashed">
                                                <div class="buy-button">
                                                    <a class="buy" href="/alphahall/details/124/" data-productid="1">立即购买</a>
                                                </div>

                                    </td>
                                </tr>
                                <tr>

                                    <td class="product-td-dashed"><div class="product-a-color">绿地智尊A座325</div></td>

                                    <td class="product-td-dashed">1.00 ㎡</td>
                                    <td class="product-td-dashed">10,000.00 元/㎡</td>
                                    <td class="product-td-dashed"><span style="color: #dc4e1c;">10,000.00 元</span> </td>
                                        <td class="product-td-dashed">3 天</td>

                                    <td class="product-td-dashed">
                                                <div class="buy-button">
                                                    <a class="buy" href="/alphahall/details/123/" data-productid="1">立即购买</a>
                                                </div>

                                    </td>
                                </tr>
                                <tr>

                                    <td class="product-td-dashed"><div class="product-a-color">绿地智尊A座325</div></td>

                                    <td class="product-td-dashed">0.53 ㎡</td>
                                    <td class="product-td-dashed">12,000.00 元/㎡</td>
                                    <td class="product-td-dashed"><span style="color: #dc4e1c;">6,360.00 元</span> </td>
                                        <td class="product-td-dashed">1 天</td>

                                    <td class="product-td-dashed">
                                                <div class="buy-button">
                                                    <a class="buy" href="/alphahall/details/121/" data-productid="1">立即购买</a>
                                                </div>

                                    </td>
                                </tr>
                                <tr>

                                    <td class="product-td-dashed"><div class="product-a-color">绿地智尊A座325</div></td>

                                    <td class="product-td-dashed">0.05 ㎡</td>
                                    <td class="product-td-dashed">11,000.00 元/㎡</td>
                                    <td class="product-td-dashed"><span style="color: #dc4e1c;">550.00 元</span> </td>
                                        <td class="product-td-dashed"></td>

                                    <td class="product-td-dashed">
                                            <div class="buy-button-a">
                                                <a href="/alphahall/details/16/">已转让</a>
                                            </div>

                                    </td>
                                </tr>
                                <tr>

                                    <td class="product-td-dashed"><div class="product-a-color">绿地智尊A座325</div></td>

                                    <td class="product-td-dashed">0.05 ㎡</td>
                                    <td class="product-td-dashed">11,000.00 元/㎡</td>
                                    <td class="product-td-dashed"><span style="color: #dc4e1c;">550.00 元</span> </td>
                                        <td class="product-td-dashed"></td>

                                    <td class="product-td-dashed">
                                            <div class="buy-button-a">
                                                <a href="/alphahall/details/11/">已转让</a>
                                            </div>

                                    </td>
                                </tr>
                                <tr>

                                    <td class="product-td-dashed"><div class="product-a-color">绿地智尊A座325</div></td>

                                    <td class="product-td-dashed">0.05 ㎡</td>
                                    <td class="product-td-dashed">10,500.00 元/㎡</td>
                                    <td class="product-td-dashed"><span style="color: #dc4e1c;">525.00 元</span> </td>
                                        <td class="product-td-dashed"></td>

                                    <td class="product-td-dashed">
                                            <div class="buy-button-a">
                                                <a href="/alphahall/details/18/">已转让</a>
                                            </div>

                                    </td>
                                </tr>
                                <tr>

                                    <td class="product-td-dashed"><div class="product-a-color">绿地智尊A座325</div></td>

                                    <td class="product-td-dashed">0.05 ㎡</td>
                                    <td class="product-td-dashed">10,000.00 元/㎡</td>
                                    <td class="product-td-dashed"><span style="color: #dc4e1c;">500.00 元</span> </td>
                                        <td class="product-td-dashed"></td>

                                    <td class="product-td-dashed">
                                            <div class="buy-button-a">
                                                <a href="/alphahall/details/8/">已转让</a>
                                            </div>

                                    </td>
                                </tr>
                                <tr>

                                    <td class="product-td-dashed"><div class="product-a-color">绿地智尊A座325</div></td>

                                    <td class="product-td-dashed">0.05 ㎡</td>
                                    <td class="product-td-dashed">10,000.00 元/㎡</td>
                                    <td class="product-td-dashed"><span style="color: #dc4e1c;">500.00 元</span> </td>
                                        <td class="product-td-dashed"></td>

                                    <td class="product-td-dashed">
                                            <div class="buy-button-a">
                                                <a href="/alphahall/details/4/">已转让</a>
                                            </div>

                                    </td>
                                </tr>
                                <tr>

                                    <td class="product-td-dashed"><div class="product-a-color">绿地智尊A座325</div></td>

                                    <td class="product-td-dashed">0.02 ㎡</td>
                                    <td class="product-td-dashed">10,000.00 元/㎡</td>
                                    <td class="product-td-dashed"><span style="color: #dc4e1c;">200.00 元</span> </td>
                                        <td class="product-td-dashed"></td>

                                    <td class="product-td-dashed">
                                            <div class="buy-button-a">
                                                <a href="/alphahall/details/1/">已转让</a>
                                            </div>

                                    </td>
                                </tr>
                                <tr>

                                    <td class="product-td-dashed"><div class="product-a-color">绿地智尊A座325</div></td>

                                    <td class="product-td-dashed">0.50 ㎡</td>
                                    <td class="product-td-dashed">9,900.00 元/㎡</td>
                                    <td class="product-td-dashed"><span style="color: #dc4e1c;">4,950.00 元</span> </td>
                                        <td class="product-td-dashed"></td>

                                    <td class="product-td-dashed">
                                            <div class="buy-button-a">
                                                <a href="/alphahall/details/22/">已转让</a>
                                            </div>

                                    </td>
                                </tr>
                                <tr>

                                    <td class="product-td-dashed"><div class="product-a-color">绿地智尊A座325</div></td>

                                    <td class="product-td-dashed">0.09 ㎡</td>
                                    <td class="product-td-dashed">9,800.00 元/㎡</td>
                                    <td class="product-td-dashed"><span style="color: #dc4e1c;">882.00 元</span> </td>
                                        <td class="product-td-dashed"></td>

                                    <td class="product-td-dashed">
                                            <div class="buy-button-a">
                                                <a href="/alphahall/details/40/">已转让</a>
                                            </div>

                                    </td>
                                </tr>
                                <tr>

                                    <td class="product-td-dashed"><div class="product-a-color">绿地智尊A座325</div></td>

                                    <td class="product-td-dashed">0.50 ㎡</td>
                                    <td class="product-td-dashed">9,800.00 元/㎡</td>
                                    <td class="product-td-dashed"><span style="color: #dc4e1c;">4,900.00 元</span> </td>
                                        <td class="product-td-dashed"></td>

                                    <td class="product-td-dashed">
                                            <div class="buy-button-a">
                                                <a href="/alphahall/details/33/">已转让</a>
                                            </div>

                                    </td>
                                </tr>
                                <tr>

                                    <td class="product-td-dashed"><div class="product-a-color">绿地智尊A座325</div></td>

                                    <td class="product-td-dashed">0.50 ㎡</td>
                                    <td class="product-td-dashed">9,800.00 元/㎡</td>
                                    <td class="product-td-dashed"><span style="color: #dc4e1c;">4,900.00 元</span> </td>
                                        <td class="product-td-dashed"></td>

                                    <td class="product-td-dashed">
                                            <div class="buy-button-a">
                                                <a href="/alphahall/details/23/">已转让</a>
                                            </div>

                                    </td>
                                </tr>
                                <tr>

                                    <td class="product-td-dashed"><div class="product-a-color">绿地智尊A座325</div></td>

                                    <td class="product-td-dashed">0.19 ㎡</td>
                                    <td class="product-td-dashed">9,700.00 元/㎡</td>
                                    <td class="product-td-dashed"><span style="color: #dc4e1c;">1,843.00 元</span> </td>
                                        <td class="product-td-dashed"></td>

                                    <td class="product-td-dashed">
                                            <div class="buy-button-a">
                                                <a href="/alphahall/details/120/">已转让</a>
                                            </div>

                                    </td>
                                </tr>
                                <tr>

                                    <td class="product-td-dashed"><div class="product-a-color">绿地智尊A座325</div></td>

                                    <td class="product-td-dashed">0.30 ㎡</td>
                                    <td class="product-td-dashed">9,650.00 元/㎡</td>
                                    <td class="product-td-dashed"><span style="color: #dc4e1c;">2,895.00 元</span> </td>
                                        <td class="product-td-dashed"></td>

                                    <td class="product-td-dashed">
                                            <div class="buy-button-a">
                                                <a href="/alphahall/details/118/">已转让</a>
                                            </div>

                                    </td>
                                </tr>
                                <tr>

                                    <td class="product-td-dashed"><div class="product-a-color">绿地智尊A座325</div></td>

                                    <td class="product-td-dashed">1.06 ㎡</td>
                                    <td class="product-td-dashed">9,600.00 元/㎡</td>
                                    <td class="product-td-dashed"><span style="color: #dc4e1c;">10,176.00 元</span> </td>
                                        <td class="product-td-dashed"></td>

                                    <td class="product-td-dashed">
                                            <div class="buy-button-a">
                                                <a href="/alphahall/details/106/">已转让</a>
                                            </div>

                                    </td>
                                </tr>
                                <tr>

                                    <td class="product-td-dashed-none"><div class="product-a-color">绿地智尊A座325</div></td>

                                    <td class="product-td-dashed-none">0.01 ㎡</td>
                                    <td class="product-td-dashed-none">9,600.00 元/㎡</td>
                                    <td class="product-td-dashed-none"><span style="color: #dc4e1c;">96.00 元</span> </td>
                                        <td class="product-td-dashed-none"></td>

                                    <td class="product-td-dashed-none">
                                            <div class="buy-button-a">
                                                <a href="/alphahall/details/99/">已转让</a>
                                            </div>

                                    </td>
                                </tr>
                                                    </tbody>
                    </table>
                        <div style="width: 100%; text-align: center">
    <ul class="pagination">
        <li class="first disabled"><a href="javascript:;" title="首页"><i class="fa fa-angle-double-left"></i></a></li>
        <li class="prev disabled"><a href="javascript:;" title="上一页"><i class="fa fa-angle-left"></i></a></li>

                    <li class="active"><a href="javascript:;">1</a></li>
                        <li><a href="?page=2">2</a></li>

        <li class="next "><a href="?page=2" title="下一页"><i class="fa fa-angle-right"></i></a></li>
        <li class="last "><a href="?page=2" title="尾页"><i class="fa fa-angle-double-right"></i></a></li>
    </ul>


                        </div>
                </div>

            </div>
        </div>
    </div>
</div>
<footer id="footer" style="background-color:#ccc">
	<div class="uk-container uk-container-center">
		<div class="centent">
			<div class="links uk-hidden-small">
				
				<!-- 支持我们，请不要去掉友情链接 -->
															</div>
			<div class="text">
				<div class="nav">
														<a href="#">关于我们</a>
										<a href="#">联系方式</a>
										<a href="#">版权声明</a>
										<a href="#">招聘信息</a>
										<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb0cb378eb0490bf1b5882499c9d97f02' type='text/javascript'%3E%3C/script%3E"));
</script>
								</div>
				

			</div>
			<div style="clear:both"></div>
			<div style="margin:15px 0"><strong>公司地址：</strong>芝罘区南大街159号交通大厦
				<strong style="float:right;"><a style="color:#f89e35" href="./admin.php">[办公登陆]</a></strong>
			</div>
		</div>
	</div>
</footer>
<a href="#top" id="goTop" class="uk-button uk-icon-chevron-up" data-uk-smooth-scroll=""></a>
<div id="tm-offcanvas" class="uk-offcanvas">
	<div class="uk-offcanvas-bar">
		<ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav="{multiple:true}">
			<li class="uk-nav-header">栏目导航</li>
									<li class="uk-parent"><a href="#"><i class="uk-icon-folder-open"></i> 关于裕通</a>
															</li>
						<li class="uk-parent"><a href="#"><i class="uk-icon-folder-open"></i> 新闻动态</a>
															</li>
						<li class="uk-parent uk-active"><a href="#"><i class="uk-icon-folder-open"></i> 在线下单</a>
															</li>
						<li class="uk-parent"><a href="#"><i class="uk-icon-folder-open"></i> 联系我们</a>
															</li>
									<li class=""><a href="http://www.yutongzulin.com/index.php?m=content&c=index&a=lists&catid=10"><i class="uk-icon-folder-open"></i> 新闻动态</a></li>
			<li class=""><a href=""><i class="uk-icon-folder-open"></i> </a></li>
			<li class=""><a href="http://www.yutongzulin.com/html/about/contactus/"><i class="uk-icon-folder-open"></i> 联系方式</a></li>
		</ul>
		<form class="uk-search" data-uk-search action="http://www.yutongzulin.com/index.php" method="get" target="_blank">
			<input type="hidden" name="m" value="search"/>
			<input type="hidden" name="c" value="index"/>
			<input type="hidden" name="a" value="init"/>
			<input type="hidden" name="typeid" value="1" id="typeid"/>
			<input type="hidden" name="siteid" value="1" id="siteid"/>
			<input class="uk-search-field" type="search" name="q" placeholder="输入要搜索的关键字...">
			<button class="uk-search-close" type="reset"></button>
		</form>
		<div class="uk-panel">
			<h3 class="uk-panel-title">微信订阅</h3>
			打开微信，点击底部的“通讯录”，点击右上角的 “添加” 搜号码 <a href="http://www.yutongzulin.com/assets/images/getqrcode.jpg" title="安妮导刊微信二维码" target="_blank">andk_in</a> 或查找公众号 安妮导刊 即可。
		</div>
	</div>
</div>
</body>
</html>