body { font-family:"ו"; font-size:12px; color:#222222; background:url(../images/bg.jpg) repeat-x left top #a10c12; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote { padding:0; margin:0; }
table, td, tr, th { font-size:12px; }
li { list-style-type:none; }
table { margin:0 auto; }
img { vertical-align:top; border:none; }
ol, ul { list-style:none; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:12px; font-weight:normal; }

a:link{ color:#444444; text-decoration:none; }
a:visited {color:#444444; text-decoration:none; }
a:active {color:#444444; text-decoration:none; }
a:hover {color:#444444; text-decoration:underline; }

a.more:link{ color:#666666; text-decoration:none; }
a.more:visited {color:#666666; text-decoration:none; }
a.more:active {color:#666666; text-decoration:none; }
a.more:hover {color:#666666; text-decoration:none; }

a.more1:link{ color:#f3f2f0; text-decoration:none; font-size:12px;}
a.more1:visited {color:#f3f2f0; text-decoration:none; font-size:12px;}
a.more1:active {color:#f3f2f0; text-decoration:none; font-size:12px;}
a.more1:hover {color:#f3f2f0; text-decoration:underline; font-size:12px;}

.fB { font-weight:bold; }
.fI { font-style: italic; }
.f12px { font-size:12px; }
.f14px { font-size:14px; }
.left { float:left; }
.right { float:right; }
.clear{ clear:both;}


.blank3 { clear:both; height:3px; overflow:hidden; display:block; font-size:1px; MARGIN-LEFT: auto; WIDTH: 890px; MARGIN-RIGHT: auto; background:#; }
.blank6 { clear:both; height:6px; overflow:hidden; display:block; font-size:1px;  MARGIN-LEFT: auto; WIDTH: 890px; MARGIN-RIGHT: auto;  background:#;}
.blank9 { clear:both; height:9px; overflow:hidden; display:block; font-size:1px;  MARGIN-LEFT: auto; WIDTH: 890px; MARGIN-RIGHT: auto; background:#; }
.blank12 { clear:both; height:12px; overflow:hidden; display:block; font-size:1px;  MARGIN-LEFT: auto; WIDTH: 890px; MARGIN-RIGHT: auto;  background:#;}

.blanks3 { clear:both; height:3px; width:20px; overflow:hidden; display:block; font-size:1px; background:#;}
.blanks6 { clear:both; height:6px; width:20px; overflow:hidden; display:block; font-size:1px;  background:#; }
.blanks9 { clear:both; height:9px; width:20px; overflow:hidden; display:block; font-size:1px; background:#; }
.blanks12 { clear:both; height:12px; width:20px; overflow:hidden; display:block; font-size:1px; background:#; }

.blankss6 { clear:both; height:6px; width:20px; overflow:hidden; display:block; font-size:1px;  background:#ffffff; }