/*menu*/
#nav {}
/*#nav .jquery_out {float:left;line-height:32px;display:block; border-right:1px solid #fff; text-align:center; color:#fff;font:18px/32px ""; background:#062723 url(../images/slide-panel_03.png) 0 0 repeat-x;}*/
/*#nav .jquery_out .smile {padding-left:1em;}
#nav .jquery_inner {margin-left:16px;}
#nav .jquery {margin-right:1px;padding:0 2em;}*/
#nav .mainlevel { float:left; padding:0px 14px; line-height:33px; text-align:center; position:relative;}
/*#nav .mainlevel h1{ color:#999999; font-family:"Arial, Helvetica, sans-serif";}*/
#nav .mainlevel .dddd{ height:90px;}
#nav .mainlevel a {display:block;color:#ffffff;text-decoration:none; font-size:14px; font-family:"ו"; font-weight:bold;}
#nav .mainlevel a:hover {color:#ffffff; text-decoration:none; font-size:14px; font-family:"ו"; font-weight:bold;}

#nav .mainlevel ul {display:none; position:absolute;left:-34px;}
#nav .mainlevel li {border-bottom:1px solid #5c5c5c; background:#434343; width:140px;/*IE6 only*/}

#nav .mainlevel li a{ height:26px; line-height:26px; color:#ffffff; font-size:14px;}
#nav .mainlevel li a:hover{ height:26px; line-height:26px; color:#ffffff; font-size:14px;}
/*.log {text-align:center; color:skyblue; line-height:26px; text-transform:capitalize;}*/